// About page (/about)

.articlebar {
  max-width: 20%;
  max-height: 92vh;
  overflow-y: scroll;
  border: 1px solid #e6e6e6;
  padding: 2em;
 
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.abouttext {
  margin: _size(section-spacing) 0 0 0;

  @include breakpoint(large) {
    margin-left: 2em;
    margin-right: 2em;
  }
}


.blogtable {
  margin-right: 2em;
  @include breakpoint(large) {
    margin-left: 2em;
  }
}


.articlelist {
  margin-right: 2em;
  @include breakpoint(large) {
    margin-left: 2em;
  }
}

.resume {
  margin: 2em;

  .experiences {
    border: solid 1px _palette(border);
    border-radius: 0.3em;
    padding: 2em;

    @include breakpoint(small) {
      border: none;
      padding: 0;
    }
  }
}

.stats {
  margin: 2em;
  margin-right: 4em;

  @include breakpoint(large) {
    margin: 2em;
  }
}

.collaborators {
  margin: 2em;
  margin-right: 4em;

  @include breakpoint(large) {
    margin: 2em;
  }
}

.blogpage {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  .articlelist {
    margin: 2em;
    width: 100vw;
    @include breakpoint(large) {
      margin-left: 2em;
    }

    .articledate {
      @include breakpoint(medium) {
        display: none;
      }
    }

    .articletitle {
      width: 60%;
      
      @include breakpoint(medium) {
        width: 40%;
      }
    }
  }

}
