// About page (/about)

.articlebar {
  max-width: 20%;
  max-height: 92vh;
  overflow-y: scroll;
  border: 1px solid #e6e6e6;
  padding: 2em;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.abouttext {
  margin: _size(section-spacing) 0 0 0;

  @include breakpoint(large) {
    margin-left: 2em;
    margin-right: 2em;
  }
}


.blogtable {
  margin-right: 2em;

  @include breakpoint(large) {
    margin: 1em
  }
}


.articlelist {
  margin-right: 2em;

  @include breakpoint(large) {
    margin-left: 2em;
  }
}

.resume {
  margin: 2em;

  @include breakpoint(small) {
    margin: 1em;
  }

  .experiences {
    border: solid 1px _palette(border);
    border-radius: 0.3em;
    padding: 2em;

    @include breakpoint(small) {
      border: none;
      padding: 0;
    }
  }
}

.stats {
  margin: 2em;
  margin-right: 4em;

  @include breakpoint(large) {
    margin: 2em;
  }
}

.collaborators {
  margin: 2em;
  margin-right: 4em;

  @include breakpoint(large) {
    margin: 2em;
  }
}

.blogpage {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }


}

.articlelist {

  border-collapse: collapse;


  margin: 2em;
  width: 100%;

  @include breakpoint(medium) {
    margin: 0;

  }

  .articledate {
    width: 20%;
  }

  .articletitle {
    width: 40%;

    @include breakpoint(medium) {
      width: 40%;
    }
  }
}