
.cell-container {
    border: 10px;
    border-color: #000000;
    position: relative;
  
    .description {
      position: flex;
      padding: 0;
      bottom: 0;
      border-top: solid 1px _palette(border);
  
      p {
        font-size: 0.9rem;
        margin: 0;
        padding: 1.25em;
        background-color: rgba(255,255,255,.7);
        color: #3c3b3b;
        font-family: "Raleway", Helvetica, sans-serif;
        z-index: 1000;
        transition: all 0.1s;
        -webkit-transition: all 0.1s ease-in-out;
      }
  
      p:hover {
        background-color: rgba(255,255,255,.9);
      }
    }
  }

