// About page (/about)

.markdown {

  width: 100%;
  max-height: 92vh;
  overflow-y: scroll;

  border: 1px solid #e6e6e6;
  padding: 2em;
  
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width:90%;
    max-width: 800px;

  }

  p {
    margin: auto;
    margin-bottom: 1em;
  }

  h3 {
    font-size: 2em;
    margin: auto;
  }

  h4 {
    font-size: 1.5em;
    margin: auto;
  }

  h5 {
    font-size: 1.25em;
    margin: auto;
  }

    .graf--mixtapeEmbed {
      font-size: 0.9em;
      display: flex;
      flex-direction: row-reverse;
      
      border: solid 1px #e6e6e6;
      
      border-radius: 0.3em;

      a.js-mixtapeImage {
        background-repeat: no-repeat;
        background-position: left top;
        background-size: auto;
        width: 20%;
      }

      a.markup--anchor {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 100%;
        padding: 1em;
        width: 100%;
        
      }
    }

    .imageCaption {
      font-size: 0.8em;
      text-align: center;
      font-style: italic ;
    }
}
